input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: "SFProDisplay", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1626px;
  padding: 0 30px;
  margin: 0 auto;
}

.site-container {
  overflow: hidden;
}

.flex {
  display: flex;
}

.main-slider__media {
  max-height: 275px;
}

.menu {
  position: fixed;
  left: -150vw;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #73AFBA;
  transition: left 0.3s;
  /*&--visible {
  	left: 0;
  	transition: left 0.3s;
  }*/
}
.menu__nav {
  width: 100%;
  height: 100%;
}
.menu__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  padding: 30px 0;
  overflow-y: auto;
}
.menu__link {
  color: #fff;
  margin-bottom: 20px;
  display: inline-block;
  transition: color 0.3s;
}
.menu__link:hover {
  color: #1C2E3D;
  transition: color 0.3s;
}
.menu__close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10%;
  top: 10%;
}
.menu__close-line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.menu__close-line:first-child {
  transform: rotate(45deg);
}
.menu__close-line:last-child {
  transform: rotate(-45deg);
}

.section-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #1C2E3D;
}
.section-title--center {
  text-align: center;
  max-width: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

/* tablet */
/* mobile-phone */
/*First*/
.first {
  /*height: 100vh;*/
  min-height: 660px;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.first__container {
  position: relative;
  height: 100%;
  padding-top: 223px;
  padding-bottom: 200px;
}
.first__link {
  background-color: #1C2E3D;
  font-weight: 800;
  font-size: 11px;
  letter-spacing: 2px;
  padding: 15px 30px;
  border-radius: 100px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 42px;
}
.first__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 84px;
  max-width: 40%;
  margin-bottom: 40px;
}
.first__descr {
  font-family: "SFCompactText", sans-serif;
  font-weight: 400px;
  line-height: 16px;
  max-width: 32%;
  margin-bottom: 58px;
}
.first__btn {
  background-color: #E8594E;
  position: relative;
  z-index: 5;
  transition: background-color 0.3s;
}
.first__btn:hover {
  background-color: #bd0f02;
  transition: background-color 0.3s;
}
.first__bottom {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: calc(100% - 60px);
  display: flex;
  align-items: flex-end;
}
.first__slider-btn {
  position: absolute;
  right: 83%;
  bottom: 33px;
  z-index: 50;
  width: 14px;
  height: 14px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  padding: 33px 80px;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 2.18182px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 8px;
}

.btn-right {
  left: auto;
  right: 50px;
  background-image: url(../img/arrow-right.svg);
}

.btn-left {
  background-image: url(../img/arrow-left.svg);
}

.main-slider {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  line-height: 1;
  font-size: 0;
}
.main-slider__text {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #73AFBA;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2.18182px;
  line-height: 1;
}
.main-slider__play {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 41px;
  background-image: url(../img/Play-2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-form {
  flex-shrink: 0;
  width: 68%;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 4px;
  height: 120px;
}
.search-form__field {
  border: none;
  background-color: #fff;
  width: 100%;
  height: 100%;
  color: #1C2E3D;
  padding-left: 50px;
  padding-right: 90px;
}
.search-form__button {
  width: 18px;
  height: 18px;
  background-image: url(../img/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 62px;
  top: 50%;
  transform: translateY(-50%);
}

.social {
  display: flex;
  align-items: center;
}
.social__link {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s;
}
.social__link:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
}
.social__link--fb {
  background-image: url(../img/fb.svg);
  width: 11px;
  height: 20px;
}
.social__link--tw {
  background-image: url(../img/tw.svg);
  width: 20px;
  height: 17px;
}
.social__item:not(:last-child) {
  margin-right: 40px;
}

.burger {
  width: 48px;
  height: 10px;
  position: relative;
}
.burger:hover .burger__line {
  background-color: #E8594E;
  transition: background-color 0.3s;
}
.burger__line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.3s;
}
.burger__line:last-child {
  top: auto;
  bottom: 0;
}

/*@media (max-height:1079px) {
	.first {
		&__container {
			padding: 120px 30px;
		}
	}
}

@media (max-height:880px) {
	.first {
		&__container {
			padding: 100px 30px;
		}
		&__link {
			margin-bottom: 30px;
		}
		&__title {
			font-size: 70px;
			line-height: 65px;
		}
	}
}

@media (max-height:780px) {
	.search-form {
		height: 80px;
	}
	.main-slider {
		&__text {
			height: 80px;
		}
	}
	.first {
		&__title {
			font-size: 60px;
			margin-bottom: 20px;
		}
		&__descr {
			font-size: 16px;
			margin-bottom: 30px;
		}
		&__btn {
			padding: 25px 40px;
		}
	}
}*/
/* tablet */
@media (max-width: 992px) {
  .first__title {
    font-size: 80px;
    font-weight: 700;
    line-height: 84px;
    max-width: 55%;
    margin-bottom: 40px;
  }
  .first__container {
    padding: 120px 30px;
  }
  .first__link {
    margin-bottom: 30px;
  }
  .first__descr {
    font-size: 20px;
    line-height: 24px;
    max-width: 50%;
    margin-bottom: 30px;
  }

  .btn {
    font-size: 18px;
  }

  .search-form {
    width: 55%;
    height: 100px;
  }
  .search-form__field {
    font-size: 16px;
  }
}
/* mobile-phone */
@media (max-width: 576px) {
  .first__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 30px;
  }
  .first__container {
    padding: 90px 30px;
  }
  .first__descr {
    font-size: 20px;
    line-height: 24px;
    max-width: 85%;
  }

  .btn {
    font-size: 14px;
    padding: 20px 35px;
  }
  .btn-left {
    right: 235px;
  }

  .search-form {
    width: 83%;
    height: 60px;
  }
  .search-form__button {
    width: 20px;
    height: 20px;
    right: 20px;
  }
  .search-form__field {
    padding-left: 18px;
  }

  .main-slider {
    display: none;
  }

  .social__item:not(:last-child) {
    margin-right: 20px;
  }
}
/*Become*/
.become {
  background-color: #fff;
  padding-top: 140px;
  padding-bottom: 120px;
}
.become__title {
  max-width: 50%;
}
.become__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 95px;
}
.become__item {
  flex: 0 0 23.5%;
  /*srink grow basis*/
  margin-right: 2%;
  margin-bottom: 2%;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  font-size: 0;
}
.become__item:nth-child(4n) {
  margin-right: 0;
}
.become__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #73AFBA;
  /*mix-blend-mode: normal;*/
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 4px;
}
.become__item:hover::before {
  opacity: 0.9;
  transition: transform 0.3s ease-in-out;
}
.become__item:hover .become__text {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
.become__text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 54px;
  padding-bottom: 64px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #fff;
  transform: translateY(300px);
  transition: transform 0.3s ease-in-out;
}
.become__img {
  max-height: 100%;
  object-fit: cover;
}

/* tablet */
@media (max-width: 992px) {
  .become {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .become__item {
    flex: 0 0 48%;
  }
  .become__title {
    font-size: 53px;
    max-width: 60%;
    line-height: 60px;
  }
  .become__list {
    margin-top: 40px;
  }
}
/* mobile-phone */
@media (max-width: 576px) {
  .become {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .become__item {
    flex: 0 0 100%;
  }
  .become__item:nth-child(4n) {
    display: none;
  }
  .become__title {
    font-size: 43px;
    max-width: 100%;
    line-height: 40px;
  }
  .become__list {
    margin-top: 30px;
  }
}
/*Featured*/
.featured {
  background-image: url(../img/featured.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1080px;
  position: relative;
}
.featured__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.featured__stories {
  padding: 126px 133px;
  position: absolute;
  top: 0;
  right: 0;
  width: 35.3%;
  height: -webkit-fill-available;
  background-color: rgba(17, 31, 42, 0.9);
}
.featured__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #fff;
  margin-bottom: 64px;
}

.blog-article {
  padding-bottom: 105px;
}
.blog-article__category {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 11px;
  line-height: 1;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
  padding: 15px 30px;
  background-color: #E8594E;
  border-radius: 100px;
  display: inline-block;
  text-transform: uppercase;
}
.blog-article__title {
  margin-bottom: 18px;
  max-width: 40%;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #fff;
}
.blog-article__descr {
  margin-bottom: 40px;
  max-width: 40%;
  font-family: "SFCompactText", sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}
.blog-article__link {
  background-color: #73AFBA;
  display: inline-block;
  transition: background-color 0.3s;
}
.blog-article__link:hover {
  background-color: #11869c;
  transition: background-color 0.3s;
}

.feature-list__article {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #E3E3E3;
  padding: 32px 0;
}
.feature-list__item:last-child .feature-list__article {
  border-bottom: 1px solid transparent;
}
.feature-list__img {
  flex-shrink: 0;
  border-radius: 100%;
  overflow: hidden;
  width: 48px;
  height: 48px;
}
.feature-list__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 5px;
}
.feature-list__time {
  font-family: "SFProText", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.502293);
}
.feature-list__text {
  margin-left: 32px;
  padding-right: 35px;
}

/* tablet */
@media (max-width: 992px) {
  .featured__stories {
    padding: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
  }
  .featured__title {
    font-size: 53px;
    line-height: 60px;
    margin-bottom: 30px;
  }

  .blog-article__category {
    font-size: 21px;
    line-height: 1.5;
  }
  .blog-article__title {
    margin-bottom: 18px;
    max-width: 40%;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #fff;
  }
  .blog-article__descr {
    font-size: 20px;
    line-height: 24px;
  }

  .feature-list__title {
    font-size: 20px;
  }
  .feature-list__time {
    font-size: 16px;
  }
}
/* mobile-phone */
@media (max-width: 576px) {
  .featured {
    height: 1200px;
  }
  .featured__stories {
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 56%;
  }
  .featured__title {
    font-size: 43px;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .blog-article {
    padding-bottom: 30px;
  }
  .blog-article__category {
    font-size: 16px;
    line-height: 1;
  }
  .blog-article__title {
    margin-bottom: 18px;
    max-width: 100%;
    font-weight: 700;
    font-size: 33px;
    line-height: 34px;
    color: #fff;
  }
  .blog-article__descr {
    margin-bottom: 20px;
    max-width: 100%;
    font-size: 20px;
    line-height: 24px;
  }

  .feature-list__article {
    padding: 20px 0;
  }
}
.featured-videos {
  padding-top: 150px;
  padding-bottom: 50px;
  min-height: 550px;
  width: 890px;
}
.featured-videos__descr {
  text-align: center;
  margin: 0 auto;
  max-width: 650px;
  font-family: "SFCompactText", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #788692;
  margin-top: 26px;
}

.slider-container {
  overflow: hidden;
  padding: 100px 0;
  width: 100%;
  margin-top: 50px;
}
.slider-container .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background: #E3E3E3;
  border-radius: 8px;
  transition: transform 0.3s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.slider-container .swiper-slide::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  opacity: 0;
  transition: opacity 0.3s;
}
.slider-container .swiper-slide-active {
  transform: scaleX(1.16) scaleY(1.2);
  transition: transform 0.3s;
}
.slider-container .swiper-slide-active::after {
  opacity: 1;
  transition: opacity 0.3s;
}
.slider-container .swiper-slide-active .slide-title {
  transition: transform 0.3s;
  transform: translateY(0);
}

.slide-title {
  position: relative;
  z-index: 5;
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  padding-left: 35px;
  padding-bottom: 30px;
  transition: transform 0.3s;
  transform: translateY(200px);
}

.swiper-slide video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.slide-1 {
  background-image: url(../img/videos-slider-1.jpg);
}

.slide-2 {
  background-image: url(../img/videos-slider-2.jpg);
}

.slide-3 {
  background-image: url(../img/videos-slider-3.jpg);
}

.slide-4 {
  background-image: url(../img/videos-slider-4.jpg);
}

.slide-play {
  position: absolute;
  left: 48px;
  top: 40px;
  width: 112px;
  height: 112px;
  background-image: url(../img/video-play.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Newsletter*/
.newsletter {
  padding-top: 52px;
  padding-bottom: 150px;
}
.newsletter-content {
  position: relative;
  --newsletter-gap: 133px;
  background-image: url(../img/newsletter-cover.jpg);
  border-radius: 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--newsletter-gap);
  padding-top: 338px;
  padding-bottom: 178px;
}
.newsletter__text {
  max-width: 370px;
}
.newsletter__title {
  color: #fff;
  margin-bottom: 40px;
}
.newsletter__descr {
  font-family: "SFCompactText", sans-serif;
  font-weight: 410px;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}
.newsletter__form {
  position: absolute;
  bottom: -96px;
  right: var(--newsletter-gap);
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 501px;
  height: 416px;
  border-radius: 8px;
  padding-top: 53px;
}
.subscribe-form__field {
  width: calc(100% - ( 72px * 2 ));
  border: none;
  border-bottom: 1px solid rgba(28, 46, 61, 0.3);
  padding: 25px 0;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 2px;
  color: #1C2E3D;
  text-transform: uppercase;
}
.subscribe-form__btn {
  width: 100%;
  background-color: #73AFBA;
  margin-top: 74px;
  padding: 41px 80px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: background-color 0.3s;
}
.subscribe-form__btn:hover {
  background-color: #11869c;
  transition: background-color 0.3s;
}

/* tablet */
@media (max-width: 992px) {
  .newsletter {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .newsletter__title {
    margin-bottom: 130px;
  }

  .subscribe-form__field {
    font-size: 18px;
  }
  .subscribe-form__descr {
    display: none;
  }
  .subscribe-form__btn {
    font-size: 18px;
  }

  .section-title {
    font-size: 53px;
  }
}
/* mobile-phone */
@media (max-width: 576px) {
  .newsletter {
    height: 550px;
  }
  .newsletter-content {
    width: 85%;
    --newsletter-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .newsletter__descr {
    display: none;
  }
  .newsletter__form {
    right: 0;
  }

  .subscribe-form {
    width: 85%;
    height: 170px;
    padding-top: 30px;
    padding-left: 30px;
  }
  .subscribe-form__field {
    font-size: 16px;
    width: 100%;
  }
  .subscribe-form__btn {
    margin-top: 30px;
    padding: 30px;
  }

  .section-title {
    font-size: 43px;
    line-height: 40px;
  }
}
/*Insp*/
.grid {
  display: grid;
}

.insp {
  padding-top: 95px;
  padding-bottom: 140px;
}
.insp__descr {
  text-align: center;
  margin: 0 auto;
  max-width: 635px;
  font-family: "SFCompactText", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #788692;
  margin-bottom: 95px;
}
.insp__heading {
  margin-bottom: 25px;
}
.insp__list {
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(500px, auto);
}
.insp__item {
  position: relative;
  background-color: #000;
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.insp__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 65%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 50%, rgba(0, 0, 0, 0.647277) 100%);
}
.insp__item--big {
  grid-column-end: span 2;
}
.insp__item--bigheight {
  height: 710px;
}
.insp__item--1 {
  background-image: url(../img/insp-1.jpg);
}
.insp__item--2 {
  background-image: url(../img/insp-2.jpg);
}
.insp__item--3 {
  background-image: url(../img/insp-3.jpg);
}
.insp__item--4 {
  background-image: url(../img/insp-4.jpg);
}
.insp__item--5 {
  background-image: url(../img/insp-5.jpg);
}
.insp__item--6 {
  background-image: url(../img/insp-6.jpg);
}
.insp__item--7 {
  background-image: url(../img/insp-7.jpg);
}
.insp__text {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  padding: 0 40px;
  padding-bottom: 47px;
}
.insp__category {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 10px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #fff;
}
.insp__title {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  margin-bottom: 25px;
  line-height: 40px;
}
.insp__people {
  display: flex;
}
.insp__people-item {
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid #fff;
  width: 48px;
  height: 48px;
  background-color: #fff;
}
.insp__people-item:not(:first-child) {
  margin-left: -15px;
}
.insp__people-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.insp__play {
  position: absolute;
  top: 40px;
  left: 40px;
  background-image: url(../img/play.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 64px;
  height: 64px;
}

/* tablet */
@media (max-width: 992px) {
  .insp {
    padding-top: 90px;
    padding-bottom: 40px;
  }
  .insp__descr {
    margin-bottom: 40px;
  }
  .insp__category {
    font-size: 14px;
  }
  .insp__list {
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
  .insp__item--4, .insp__item--5, .insp__item--6, .insp__item--7 {
    display: none;
  }
  .insp__play {
    width: 44px;
    height: 44px;
  }
}
/* mobile-phone */
@media (max-width: 576px) {
  .insp {
    padding-top: 30px;
  }
  .insp__descr {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .insp__list {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  .insp__item--big {
    grid-column-end: span 1;
  }
  .insp__item--bigheight {
    height: auto;
  }
}